<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Log in</title>
</head>
<body>
<h3>Login form</h3>
<h4>
<form name='f' action="/login" method='POST'>
    <table>
        <tr>
            <td>Enter username:</td>
            <td><input required type='text' name='username' value=''></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input required type='password' name='password' /></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="Log in" /></td>
        </tr>
    </table>
</form>
</h4>
<h4>
    <a href="/">Go to homepage</a>
    <a>or </a>
    <a href="/registration">go to registration page</a>
</h4>
</body>
</html>