<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8">
    <title>Registration</title>
</head>
<body>
<h3>Registration form</h3>
<h4>
<form action="/registration" th:object="${userForm}" method="POST" enctype="utf8">
    <div>
        <label>Enter your name: </label>
        <input required pattern=".{1,32}" th:field="*{profile.name}"/>
    </div>
    </br>
    <div>
        <label>Enter your surname: </label>
        <input required pattern=".{1,32}" th:field="*{profile.surname}"/>
    </div>
    </br>
    <div>
        <label>Choose your username: </label>
        <input minlength="8" maxlength="32"  required pattern=".{1,32}" th:field="*{username}"/>
    </div>
    </br>
    <div>
        <label>Enter your password: </label>
        <input type="password" required pattern=".{1,32}" th:field="*{password}"/>
    </div>
    </br>
    <div>
        <label>Confirm your password: </label>
        <input type="password" required pattern=".{1,32}" th:field="*{passwordConfirm}"/>
    </div>
    <div style="color: red" th:if="${passwordError}" th:text="${passwordError}"></div>
    <div style="color: red" th:if="${usernameError}" th:text="${usernameError}"></div>
    <button type="submit">Register</button>
</form>
</h4>
<h4>
    <a href="/">Go to home page</a>
    <a>or </a>
    <a href="/login">go to login page</a>
</h4>
</body>
</html>
